<div class="simpleShadow card-body">
  <h5 class="cardTitle card-title text-left text-primary">Featured Project</h5>
  <h5 *ngIf="checkProjectData" class="centerPosition"> No projects found </h5>
  <div class="featured offset-top-10" *ngFor="let projectdata of projectData">
    <!-- <p class="title1"> {{projectdata.project_name}} </p> -->
    <div class="alignStatus">
      <a class="docTitle" [routerLink]="['/project/',projectdata?.id]">{{projectdata.name}} </a>
    </div>
    <div class="teamImg ">
      <ul class="list-flex authorList">
        <li *ngFor="let usersphoto of projectdata.members">
            <a [tooltip]="(usersphoto?.employeeId?.name) |titlecase"
            [routerLink]="['/profile/', usersphoto?.employeeId?.id]">
          <ngx-avatar src="{{imageUrl}}{{usersphoto?.employeeId?.picture?.url}}{{decached}}"
            name="{{usersphoto?.employeeId?.name |name }} " size="35"></ngx-avatar>
            </a>
        </li>
      </ul>
    </div>
    <p class="pDesc">
      {{projectdata.description}}
    </p>
  </div>
  <div class="showBtn mt-auto offset-top-10" *ngIf="!checkProjectData">
    <a class="btn btn-primary" [routerLink]="['/project/']">View All</a>
  </div>
</div>