@import 'variables.scss';

.blog-grid {
  display: flex;
  margin: 10px;
  min-height: 380px;
  flex-direction: column;
}

.blog-img {
  max-height: 175px;
  min-height: 150px;

  img {
    height: 150px;
    // width: 320px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  }
}
.blog-link,
.post-title:hover {
  color: $theme1;
}

.blog-link {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.blog-desc {
  padding: 10px;
  margin-top: 0;
}
