.breadcrumbs {
  z-index: 4 !important;
  padding: 5px 0;
  background: #f7f7f7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
  .pageTitle,
  h3 {
    margin: 0;
    text-transform: capitalize;
    padding-left: 5px;
  }
  .breadcrumb-default {
    display: flex;
    padding-right: 5px;
    .homeTitle {
      top: -2px;
      position: relative;
    }
  }
  .active {
    font-size: 15px;
  }
  .searchTitle {
    text-transform: none;
    font-size: 24px !important;
  }
}
