<!-- Default footer-->
<footer
  class="section novi-background section-relative section-top-66 section-bottom-34 page-footer bg-black context-dark"
  id="footer">
  <div class="container">
    <div class="row justify-content-sm-between text-xl-left grid-group-md">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">

        <div class="footer-brand">
          <a target="_blank" href="https://accionlabs.squarespace.com/"><img style="margin-top: -5px" width="138"
              height="31" src="assets/images/logo.png" alt="Breeze" /></a>
        </div>
        <p class="marginTop">Driving Outcomes Through Actions!</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="icon novi-icon mdi mdi-facebook icon-xxs icon-circle icon-darkest-filled"
              href="https://www.facebook.com/accionlabsinc/?ref=br_rs" target="_blank"></a>
          </li>
          <li class="list-inline-item">
            <a class="icon novi-icon mdi mdi-twitter icon-xxs icon-circle icon-darkest-filled"
              href="https://twitter.com/AccionLabs" target="_blank"></a>
          </li>

          <li class="list-inline-item">
            <a class="icon novi-icon mdi mdi-linkedin icon-xxs icon-circle icon-darkest-filled"
              href="https://in.linkedin.com/company/accion-labs" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 ">
        <h6 class="text-uppercase text-spacing-60 mt-0">About Us</h6>
        <p class="marginTop">
          Headquartered in Pittsburgh, Pennsylvania, USA.
        </p>
        <p>
          Accion Labs is a product engineering company committed to helping
          organizations transform their business using emerging technologies.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-6">
        <h6 class="text-uppercase text-spacing-60 mt-0">Contact Us</h6>
        <div class="table-wrap">
          <table class="table">
            <tbody>
              <tr>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-santa-clara-contact">Santa Clara</a>
                </td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-pittsburgh-contact">Pittsburgh</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-maryland-contact">Maryland</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-canada-contact">Canada</a></td>
              </tr>
              <tr>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-sunnyvale-contact">Sunnyvale</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-london-contact">London</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-singapore-contact">Singapore</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-kuala-lumpur-contact">Kuala Lumpur</a>
                </td>
              </tr>
              <tr>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-australia-contact">Australia</a></td>
                <td class="location"><a target="_blank" href="https://www.accionlabs.com/accion-goa-contact">Goa</a>
                </td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-bangalore-contact-1">Bangalore</a></td>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-mumbai-contact">Mumbai</a></td>
              </tr>
              <tr>
                <td class="location"><a target="_blank"
                    href="https://www.accionlabs.com/accion-hyderabad-contact">Hyderabad</a></td>
                <td class="location"><a target="_blank" href="https://www.accionlabs.com/accion-pune-contact">Pune</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="container offset-top-50">
    <p class="small text-darker footerLink">
      Accionlabs &copy; {{year}}
      <span class="copyright-year"></span>&nbsp;
      Powered&nbsp;by&nbsp;
      <span class="poweredBy">
        <a alt="Breeze" href="https://breeze.accion.rocks">
          <img src="../../../assets/images/BreezeLogo.png" height="16px" width="16px" alt="Breeze">
        </a>&nbsp;
        <a target="_blank" class="forgot" href="https://breeze.accion.rocks">Breeze</a>
      </span>
    </p>
    <div class="text-right">
      <a target="_blank" href="http://aic2.accionlabs.com">Go to classic version</a>
    </div>
  </div>
</footer>