$primary: black;
$secondary: white;
// $link-blue: #55bbeb;
$link-blue: #b2b5ba;
$tabcolor: #ccccc5;
$border-color: #008b86;
// $bgcolor: #27b8bf;
// $bgcolor: #008b86;
$bgcolor: #27b8bf;
$gray: #67707c;
$green: #34905c;
$theme1: #55bbeb;
$theme2: #42b574;
$light-grey: #d3d3d3;
$red: #f54b0f;
$link:#0645AD;
