@import '~mixin.scss';
@import '~variables.scss';
.simpleShadow {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 15px;
  display: flex;
  min-height: 450px;
  flex-direction: column;
}
.docTitle {
  cursor: pointer;
  color: $theme1 !important;
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  font-weight: 600;
}
.cardTitle {
  font-weight: 600;
  margin-top: 0px !important;
}
.cardTitle,
.teamImg {
  text-align: left;
}
// .teamImg {
//   display: flex;
//   justify-content: flex-start;
//   margin-top: 10px;
// }
.list-flex {
  display: flex;
  align-content: center;
  list-style: none;
  flex-wrap: wrap;
  li {
    margin-bottom: 5px;
  }
}
.authorList {
  padding: 0;
  justify-content: left;

  li {
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }

    .box-comment-img {
      width: 45px;
      height: 45px;
      border: 1px solid $secondary;
    }
  }
}

.showBtn {
  display: flex;
  justify-content: center;
  color: #ffffff;
  a {
    margin-top: 5px !important;
  }
}
// .pDesc {
//   display: -webkit-box;
//   max-width: 100%;
//   height: 56px;
//   font-size: 13px;
//   margin: 10px auto;
//   line-height: 1.5;
//   -webkit-line-clamp: 2;
//   text-align: left;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
// .pDesc:after {
//   content: '...';
// }

// .pDesc {
//   display: -webkit-box;
//   max-width: 100%;
//   height: 56px;
//   font-size: 13px;
//   margin: 10px auto;
//   line-height: 1.5;
//   -webkit-line-clamp: 3;
//   text-align: left;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }


.pDesc {
  font-size: 13px;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.5em; 
  text-align: justify;
  padding-right: 0.8em;
}
.pDesc:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.pDesc:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
 
// .pDesc:after {
//   content: '...';
// }


.statusText {
  display: flex;
  justify-content: center;
  float: right;
  text-transform: capitalize;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 77px;
  height: 18px;
  margin-top: 14px;
}

::ng-deep .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff;
  background-color: lighten(#34905c, 15%) !important;
  border-color: lighten(#34905c, 15%) !important;
}
::ng-deep .authorList .tooltip {
  opacity: 1;
}
::ng-deep .tooltip-inner {
  background-color: #42b574;
  color: #fff;
  ::ng-deep .authorList .tooltip {
    opacity: 1;
  }
}
::ng-deep .tooltip.top .tooltip-arrow:before,
::ng-deep .tooltip.top .tooltip-arrow {
  border-top-color: #42b574;
}
::ng-deep .teamImg .authorList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
  margin-top: 10px;
  img {
    border-radius: 50%;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
    @include transition(all, 0.5s, linear);

    &:hover {
      @include scale(1.1);
    }
  }
  ngx-avatar {
    display: inline-block;
    cursor: pointer;

    .avatar-content {
      box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
      @include transition(all, 0.5s, linear);
      &:hover {
        @include scale(1.1);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .simpleShadow {
    min-height: 456px;
  }
}

.docTitle {
  // cursor: pointer;
  color: $link !important;
  // display: flex;
  // font-size: 18px;
  // justify-content: flex-start;
  // height: 30px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // word-break: break-all;
  }
  // .docTitle:after {
  // // content: '..';
  // }
  .alignStatus {
   display: flex;
   align-items: flex-start;
  }

  .alignStatus a{
    cursor: pointer;
    // color: #0645AD !important;
    display: block;
    font-size: 18px;
    // height: 30px; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; 
    max-width: 100%;
    margin: 0;
    white-space: nowrap;
  }
  // .alignStatus:after {
  //   content: '..';
  // }